.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.otherImagesContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.mainImage {
  width: 742px;
  height: auto;
  aspect-ratio: 1.5/1;
  border-radius: 4px;
}

.otherImage {
  width: 364px;
  height: auto;
  aspect-ratio: 1.5/1;
  border-radius: 4px;
}
