{
  "extends": [
    "@tinkoff/eslint-config/app",
    "@tinkoff/eslint-config-react",
    "@tinkoff/eslint-config/jest",
    "plugin:@tinkoff/tramvai/recommended",
  ],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-restricted-types": "off",
    "@typescript-eslint/no-shadow": "off",
    "react/jsx-handler-names": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function",
      },
    ],
  },
}
