@font-face {
  font-family: 'D-DIN';
  src:
    url('./D-DIN.woff') format('woff'),
    url('./D-DIN.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family:
    'D-DIN',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
