.label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}
