.label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}

.tooltip.tooltip.tooltip {
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 400;
  max-width: 700px;
  border-radius: 10px;
  font-family: inherit;
}
