.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: max-content;
}

.specsContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.specContainer {
  display: grid;
  grid-template-columns: 170px auto;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.rowDivider {
  height: 1px;
  background-color: rgba(49, 46, 46, 0.644);
}

.label {
  display: block;
  margin-right: 15px;
  line-height: 20px;
}
