.table {
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: flex;
  height: 35px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(175, 175, 175);
}

.headerCell {
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 600;
}

.bodyRow {
  display: flex;
  height: 45px;
  border-bottom: 1px solid rgb(177, 172, 172);
}

.bodyCell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}
