.container {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 40px;
  position: fixed;
  z-index: 2;
  padding: 12px 60px;
}

.containerWithBackground {
  background: black;
}

.logo {
  width: 160px;
  height: auto;
  aspect-ratio: 5/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5px;
}
