.container {
  opacity: 0;
  animation: fadeInFrames 0.15s ease-in forwards;

  @keyframes fadeInFrames {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* animation: grow 250s linear; */
}

/* @keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
} */

.textIntroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;

  .slogan {
    font-size: 72px;
    font-weight: 700;
    line-height: 85px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }

  .subtitle {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    width: 380px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
